* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  header {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    font-size: 2em;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav li a {
    text-decoration: none;
    color: #333;
  }
  
  nav li a:hover {
    color: #ef476f;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  thead {
    background-color: #ef476f;
    color: white;
  }
  
  th, td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Cart Total */
.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 1.2em;
  }
  
  .total h3 {
    font-weight: normal;
    margin: 0;
  }
  
  .total span {
    font-weight: bold;
  }
  
  /* Cart Checkout Button */
  .checkout-button {
    background-color: #ef476f;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1.2em;
  }
  
  .checkout-button:hover {
    background-color: #ff6b97;
  }